body {
  margin: 20px auto;
  width: 80%;
  background-color: #e19999;
  color: white;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

/* navigation */
nav ul {
  font-family: Chalkduster, fantasy;
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.credits {
    float: right;
    color: #7d5a5a;
}

.credits a {
    text-decoration: underline;
}

.nav-icon {
  float: right;
}

.nav-icon li {
  float: left;
  margin-left: 5px;
  margin-right: 0px;
}
.nav-icon a img{
  opacity: 0.5;
}

.nav-icon a:hover img{
  opacity: 1;
  
}
.nav-icon a img {
  height: 25px;
  width: 25px;
}

a {
  text-decoration: none;
  color: #7d5a5a;
}

nav ul li a:hover {
  text-decoration: none;
  /*border-bottom: 5px solid #f1d1d1;*/
}

a.current{
  color: #f1d1d1;
  border-bottom: 5px solid #f1d1d1;
}

a:hover {
  text-decoration: underline;
  color: #aa0000;
}

.nav-icon a:hover {
  text-decoration: none;
  border: none;
}

/* shadow */
.shadow {
  -moz-box-shadow:    0px 0px 5px 1px #ccc;
  -webkit-box-shadow: 0px 0px 5px 1px #ccc;
  box-shadow:         0px 0px 5px 1px #ccc;
  border-radius: 5px;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 2px 10px;
}

/* home */
.home h1 {
  font-size: 3em;
}

.home p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}

.home img {
    width: 200px;
    position:absolute;
    left: 0%;
    top: 0%;
    animation: normal;
    animation-name: run;
    animation-duration: 10s;
    -webkit-animation: normal;
    -webkit-animation-name: run;
    -webkit-animation-duration: 10s;
}     
@keyframes run {
    0% { left: 80%; top: 0%;}
    20% { left: 80%; top: 50%;}
    50% { left: 40%; top: 50%;}
    70% { left: 20%; top: 20%;}
    80% { left: 20%; top: 20%;}
    100%{ left: 0%; top: 0%;}
}
@-webkit-keyframes run {
    0% { left: 80%; top: 0%;}
    20% { left: 80%; top: 50%;}
    50% { left: 40%; top: 50%;}
    70% { left: 20%; top: 20%;}
    80% { left: 20%; top: 20%;}
    100%{ left: 0%; top: 0%;}
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* about */
.about p {
  font-size: 1.5em;
  color: #500000;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.about ul {
  margin: 1em 0em 1em 3em;
  padding: 1em 2em;
  border-radius: 10px;
  background-color: #e18888;
}

.about ul li {
  list-style-type:none;
  font-size: 1.15em;
  line-height: 1.2;
  color: #333;
  margin: 10px 0px;
}

.about a {
  color: black;
}

.about a:hover {
  color: white;
}

.fade-in {
  max-height: 600px;
  -webkit-animation: expand 0.8s;
}

@-webkit-keyframes expand{
    0% {
      opacity:0;
      height: 0;
    }
    25% {
      opacity:0.25;
      height: 500px;
    }
    50% {
      opacity:0.5;
      height: auto;
    }
    75% {
      opacity:0.75;
      height: auto;
    }
    100%{
      opacity: 1;
      height: auto;
    }
}

/* blog index */
.post-preview, .project-preview {
  margin: 0em 0em 2em 0em;
  padding: 0.5em 2em;
  border-radius: 10px;
  background-color: #e18888;
  line-height: 1.2;
}

.post-preview:hover {
    background-color: #a55;
    cursor: pointer;
}
.post-preview h2 {
  margin-bottom: 2px;
}


.post-date {
  margin-top: 0px;
  color: #555;
  font-size: 0.8em;

}

.post-excerpt, .project-preview p {
  color: #333;
}

/* project */
.img-project {
    float: left;
    width: 290px;
    height: 200px;
    margin: 1em 2em 1em 0em;
    border-radius: 10px;
    object-fit: cover;
    
}

.no-pic {
    background-color: #e19999;
    text-align: center;
}

.iframe-project {
    float: left;
    margin: 1em 2em 1em 0em;
}

iframe {
    border: 1px solid #333;
    border-radius: 10px;
}

.clearfix {
    overflow: auto;
}

.title-project {
  color: #a22;;
}

.space-2 {
    margin: 2em 0;
}

