---
layout: default
title: read her thought
---

{% for post in site.posts limit:10 %}
    <div class="post-preview" onclick="location.href='{{ post.url }}'">
        <h2>{{ post.title }}</h2>
        <div class="post-date">{{ post.date | date: "%B %d, %Y" }}</div>
       
        <p class="post-excerpt">

        {% if post.content contains '<!--excerpt.start-->' and post.content contains '<!--excerpt.end-->' %}
            {{ ((post.content | split:'<!--excerpt.start-->' | last) | split: '<!--excerpt.end-->' | first) | strip_html | truncatewords: 150 }}
        {% else %}
            {{ post.content | strip_html | truncatewords: 150 }}
        {% endif %}
         <a href="{{ post.url }}">Read more...</a>
        </p>


    </div>
 
{% endfor %}