<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main.css -->
        <link rel="stylesheet" type="text/css" href="/css/blog.css">
        <!-- link to rouge hightlight -->
        <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">

        {% include analytics.html %}
    </head>
    <body>
        {% include nav.html %}
        <div class="container">
            
            {{ content }}

        </div><!-- /.container -->
        
    </body>
</html>